<div class="col-md-push-1 col-md-5">
  <div class="row">
    <div class="col-md-10 right-pane-nav">
      <ul class="navigator text-left">
        <li>Contact</li>
        <li>Events</li>
        <li>Sponser</li>
      </ul>
    </div>
  </div>
</div>
