<div id="content">
  <div style="">
    <h1 id="title">Welcome to RYMS</h1>
  </div>
  <div class="row main-pane">
      <div class="col-md-push-1 col-md-5 left-pane"><p><iframe width="80%" height="450" scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/176548163&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></p>
      </div>
      <div class="right-pane">
        {{#nav-bar}}
      </div>
  </div>
</div>
