<div id="content">
  <div style="">
    <h1 id="title">Welcome to RYMS</h1>
  </div>
  <div class="row main-pane">
    <div class="left-pane">
        {{music-player}}
    </div>
    <div class="right-pane">
        {{nav-bar}}
    </div>
  </div>
</div>
